---
---

@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Ubuntu:400,700');

* {
    margin: 0;
    padding: 0;
    font-family: "Gentium Book Basic", "Times New Roman", serif;
    color: #222;
}

a {
    font-family: inherit;
    text-decoration: none;
    border-bottom: 1px dotted #888;
    color: #822;

    &:active, &:hover {
        color: #282;
    }

    &:visited {
        color: #228;
    }
}

h1, h2, h3, h4, h5, h6 {
    &, * {
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
        text-align: center;
    }
}

hr.clearfix {
    display: block;
    margin: 0;
    padding: 0;
    visibility: hidden;
    clear: both;
}

main {

    & > header {
        background: url(/assets/images/banner-plain.png);

        a, a:visited, a:active, a:hover {
            border: none;
            font-family: "Ubuntu", sans-serif;
            color: #fff;
            text-decoration: none;
        }

        h1 {
            word-wrap: break-word;
            padding: 1.5rem 0;
            font-size: 72pt;
            color: #fff;
            text-shadow: -12px -10px 0px rgba(0, 0, 0, 0.8);

            small {
                text-shadow: -7px -6px 0px rgba(0, 0, 0, 0.8);
                display: block;
                font-size: 32pt;
                color: #fff;
            }
        }

        nav {
            width: 100%;
            background-color: rgba(255, 255, 255, 0.3);

            ul {
                list-style-type: none;
                text-align: center;

                li {
                    display: inline-block;
                    margin: 0;
                    padding: 1rem;

                    a, a:visited, a:active, a:hover {
                        font-size: 20pt;
                        text-shadow: -3px -3px 0px rgba(0, 0, 0, 0.8);
                        text-transform: uppercase;
                    }
                }
            }
        }
        img {
            width: 100%;
        }
    }

    footer {
        background: url(/assets/images/banner-plain.png);
        padding: 1.5rem 0;

        p {
            text-align: center;
            font-size: 20pt;
            color: #fff;
            text-shadow: -5px -4px 0px rgba(0, 0, 0, 0.8);
            font-family: "Ubuntu", sans-serif;
            font-weight: 700;
        }
    }

    section {
        margin: 1em auto;
        max-width: 960px;
        min-height: 200px;
        line-height: 1.7;
        font-size: 14pt;

        p {
            padding-bottom: 1.2rem;
        }

        strong {
            font-family: "Ubuntu", sans-serif;
            font-weight: 400;
            text-transform: uppercase;
        }

        dt {
            text-transform: uppercase;
            font-size: 16pt;
            font-weight: 700;
            font-family: "Ubuntu", sans-serif;
        }

        dd {
            margin: 0 0 1em 1em;
        }

        .post {
            h3 {
                &, & small {
                    text-align: left;
                    display: block;
                }
            }
        }

        .hero {
            &, & * {
                text-align: center;
                font-size: 16pt;
                text-transform: uppercase;
                font-family: "Ubuntu", sans-serif;
                font-weight: 700;
            }
            padding: 1rem;
            margin: 1rem auto;
            background: linear-gradient(#ffefee, #fff);
            border: 1px solid #fff;
            border-radius: 10px;

            img {
                max-width: 100%;
            }
        }
    }
}
