<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{page.title}} | {% endif %}MEALTIME WITH MADDY</title>
    <!-- Atom (RSS) feed -->
    <link type="application/atom+xml" rel="alternate" href="http://mealtime.with.maddypa.ws/feed.xml" title="MEALTIME WITH MADDY" />

    <!-- metadata -->
    <link rel="canonical" href="http://mealtime.with.maddypa.ws/" />
    <meta name="description" content="LOUD FOOD with MADISON SCOTT-CLARY" />

    <!-- OpenGraph metadata -->
    <meta property="og:title" content="MEALTIME WITH MADDY" />
    <meta property="og:site_name" content="MEALTIME WITH MADDY" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://mealtime.with.maddypa.ws/assets/images/cover.s.png" />
    <meta property="og:url" content="http://mealtime.with.maddypa.ws/" />
    <meta property="og:description" content="LOUD FOOD with MADISON SCOTT-CLARY" />

    <!-- Twitter Card metadata -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@drab_makyo" />
    <meta name="twitter:title" content="MEALTIME WITH MADDY" />
    <meta name="twitter:description" content="LOUD FOOD with MADISON SCOTT-CLARY" />
    <meta name="twitter:image" content="http://mealtime.with.maddypa.ws/assets/images/cover.s.png" />

    <!-- JSON-LD metadata -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "MEALTIME WITH MADDY",
            "headline": "MEALTIME WITH MADDY",
            "description": "LOUD FOOD with MADISON SCOTT-CLARY",
            "url": "http://mealtime.with.maddypa.ws/"
        }
    </script>
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
</head>
<body>
    <main>
        <header>
            <h1><a href="/">MEALTIME WITH MADDY <small>LOUD FOOD with MADISON SCOTT-CLARY</small></a></h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/food">Food</a></li>
                    <li><a href="/book">Book</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </header>
        <section>
            {% if page.title %}<header><h2>{{ page.title }}</h2></header>{% endif %}
            <div class="content">
                {{ content }}
            </div>
        </section>
        <footer>
            <p>&copy; Madison Scott-Clary</p>
            <p>Licensed under a Creative Commons Attribution-ShareAlike 4.0 International license</p>
        </footer>
    </main>
</html>
